<ion-view xmlns="http://www.w3.org/1999/html">
    <ion-content scroll="false" class="login-content">

        <div class="login-container col-33  text-center">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    ng-click="loginRedirect()">
                Se connecter
            </button>

            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    ng-click="registerRedirect()">
                S'enregistrer
            </button>


        </div> <!--end login-container-->

    </ion-content>
</ion-view>
