<ion-view xmlns="http://www.w3.org/1999/html">
    <ion-content scroll="false" class="login-content">

        <div class="login-container col-100  text-center">
                <button class="button-login button-full text-center" ng-click="loginRedirect()">
                    <p>Se Connecter</p>
                </button>

                <button class="button-login button-full text-center" ng-click="registerRedirect()">
                    <p>S'enregistrer</p>
                </button>

            </div>

        </div> <!--end login-container-->

    </ion-content>
</ion-view>
