<ion-modal-view>
  <ion-content scroll="false" class="login-modal">
    <div class="text-center ">
      <div class="error-infos" ng-if ="error != undefined">
        <h2>{{error}}</h2>
      </div>
      <h2>CONNEXION</h2>

      <div class="list login">

        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-model="user.email">
            <input class="mdl-textfield__input" type="email" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Email</label>
          </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-model="user.password">
          <input class="mdl-textfield__input" type="password" id="sample4">
          <label class="mdl-textfield__label" for="sample4">Text...</label>
        </div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                  ng-click="login(user)">
            Se connecter
          </button>

        </form>

        <!--<div class="login-social">

          <img src="../img/facebook-logo.png" height="40" alt="" ng-click="loginfb()">


          <img src="../img/google-plus-logo.png" height="40" alt="">


          <img src="../img/twitter-logo.png" height="40" alt="">
        </div>-->

        <button class="button-login button-full text-center" ng-click="login(user)">
          <p>SE CONNECTER</p>
        </button>

      </div>
    </div> <!--end login-container-->

  </ion-content>
</ion-modal-view>
