<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div menu-close class="profil-menu" ui-sref="app.profile">
        <div>
          <div class="icon-profil-menu">
            <img src="img/adam.png"  alt="">
          </div>

          <h4>{{ name }}</h4>
        </div>
      </div>
      <ion-list>
        <ion-item menu-close ui-sref="app.dashboard">
          <img src="img/four-squares-with-frame-shape.png" height="25" alt="">
          &nbsp; &nbsp; Dashboard
        </ion-item>
        <ion-item menu-close ui-sref="app.new">
          <img src="img/add.png" height="25" alt="">
          &nbsp; &nbsp; Nouvel Exercice
        </ion-item>
        <ion-item menu-close ui-sref="app.videos">
          <img src="img/play-button.png" height="25" alt="">
          &nbsp; &nbsp; Vidéos
        </ion-item>
        <ion-item menu-close ui-sref="app.mentions">
          <img src="img/help.png" height="25" alt="">
          &nbsp; &nbsp; Mentions légales
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          <img src="img/log-out.png" height="25" alt="">
          &nbsp; &nbsp; Déconnexion
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
