<ion-view view-title="Nouvel Exercice">
  <ion-content class="add-exo-container">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background:rgb(0, 188, 212);">
        <div class="titre-exo">
          <h4 class="text-left">{{ e.name.name || "Aucun exercice correspondant" }}</h4>
          <p>En cours de création</p>
        </div>
        <img class="img-exo" src="img/stationary-bike.png" height="90" alt="">
      </div>
    </div>

    <ul class="demo-list-icon mdl-list">
      <li class="mdl-list__item liste-exo">
        <span class="mdl-list__item-primary-content">
          <img src="img/barbell-and-plates.png" height="30" alt="">
          &nbsp; Catégorie
        </span>
        <div class="exo-select">
          <select class="item item-input item-select" name="catagory" id="category"
                  ng-options="c.name for c in category.available track by c.id"
                  ng-model="category.selectedOption" ng-change="newSearch()">
          </select>
        </div>
     </li>

      <li class="mdl-list__item liste-exo">
        <span class="mdl-list__item-primary-content">
          <img src="img/protein-shake-and-dumbbell.png" height="30" alt="">
          &nbsp; Équipement
        </span>
        <div class="exo-select">
          <select class="item item-input item-select" name="equipment" id="equipment"
                  ng-options="e.name for e in equipment.available track by e.id"
                  ng-model="equipment.selectedOption" ng-change="newSearch()">
          </select>
        </div>
      </li>


      <li class="mdl-list__item liste-exo" ng-if="is_available == true">
        <span class="mdl-list__item-primary-content">
          <img src="img/gymnast-using-gym-equipment.png" height="30" alt="">
          &nbsp; Excercice
        </span>
      <div class="exo-select">
        <select class="item item-input item-select" name="exercise" id="exercise"
                ng-options="ex.name for ex in exercise.available track by ex.id"
                ng-model="e.name" ng-change="updateExo()">
        </select>
      </div>
    </li>

      <li class="mdl-list__item liste-exo" ng-if="is_available == true">
        <label class="item-input label-date">
          <img src="img/calendar%20(1).png" class="image-calendar" height="30" alt="">
          &nbsp; Date
          <input type="date" class="item-date" ng-model="e.newDate" value="{{ date }}">
        </label>
      </li>

      <li class="mdl-list__item liste-exo" ng-if="is_available == true">
        <span class="mdl-list__item-primary-content">
          <img src="img/maths.png" height="30" alt="">
          &nbsp; Séries
        </span>
        <div class="exo-select range range-positive">
          <input type="range" name="repetitions" ng-model="e.series" min="1" max="20" value="5">
          <span>{{ e.series }}</span>
        </div>
      </li>

      <li class="mdl-list__item liste-exo" ng-if="is_available == true">
        <span class="mdl-list__item-primary-content">
          <img src="img/repeat.png" height="30" alt="">
          &nbsp;Répétitions
        </span>
        <div class="exo-select range range-positive">
          <input type="range" name="repetitions" ng-model="e.repetitions" min="1" max="20" value="0">
          <span>{{ e.repetitions }}</span>
        </div>
      </li>


      <div class="row" ng-if="is_available == true">
        <div class="button-add col-80">
          <button class=" col-offset-20 button-add-single
      mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                  ng-click="addExo(e)">
            Ajouter
          </button>
        </div>
      </div>



      <!-- Default Slider -->





    </div>
      </ul>
    <!-- <h4 ng-show="is_available == false" class="text-center">
    Aucun exercice correspondant</h4> -->
  </ion-content>
</ion-view>
