<ion-view view-title="COMPTE">
  <ion-header-bar class="bar-positive">
    <a class="button icon-left ion-chevron-left button-clear button-dark" href="#tab/dash">RETOUR</a>
  </ion-header-bar>
  <ion-content>
    <div class="compte-profil">
      <div class="profil">
        <div>
          <div class="icon-profil" align="center">
            <img src="../img/adam.png"  alt="">
          </div>

          <h4>{{name}}</h4>
          <!--<p>Inscrit depuis le 08/09/17</p>-->
        </div>
      </div>
    </div>


    <!--<div class="compte-infos">

      <div class="col-25 compte-info">
        <h2>Nom</h2>
        <p>John Doe</p>
      </div>
      <div class="col-40 compte-info">
        <h2>Email</h2>
        <p>Johndoeergrezg@gmail.com</p>
      </div>
      <div class="col-33 compte-info">
        <h2>Mot de passe</h2>
        <p>********</p>
      </div>

      <button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised
       mdl-js-ripple-effect mdl-button&#45;&#45;accent boutton-reset">
        Modifier
      </button>

      <hr class="separation-compte">
    </div>-->


    <div class="compte-statistiques">

      <div class="col-33 compte-stat">
        <h2>{{ score || 0}}</h2>
        <p>Points totaux</p>
      </div>
      <div class="col-33 compte-stat">
        <h2>{{finished || 0}}</h2>
        <p>Programmes terminés</p>
      </div>
      <div class="col-33 compte-stat">
        <h2>{{current || 0}}</h2>
        <p>Programmes <br> en cours</p>
      </div>
      <div class="row">
          <button class="mdl-button mdl-js-button mdl-button--raised
       mdl-js-ripple-effect mdl-button--accent col col-center" ng-click="reset()">
            Réinitialiser
          </button>
      </div>
    </div>

  </ion-content>
</ion-view>