<ion-modal-view>
  <ion-content>
    <div class="login-container col-100  text-center">
      <h2>S'INSCRIRE</h2>

      <div class="list login">

        <label class=" item-input item-floating-label">
          <input type="email" ng-model="user.email" placeholder="Email">
        </label>

        <label class=" item-input item-floating-label">
          <input type="password" ng-model="user.password" placeholder="Mot de passe">
        </label>

        <button class="button-login button-full text-center" ng-click="register(user)">
          <p>S'INSCRIRE</p>
        </button>

        <div class="login-dejacompte">
          <p>Vous avez déjà un compte ? <a ui-sref="login">SE CONNECTER</a></p>
        </div>
        <h2>{{error}}</h2>
      </div>

    </div> <!--end login-container-->
  </ion-content>
</ion-modal-view>
