<ion-modal-view>
  <ion-content scroll="false" class="login-modal">
    <div class="text-center ">
      <div class="error-infos" ng-if="error != undefined">
      </div>

      <div class="text-center">

        <h2>INSCRIPTION</h2>

        <div class="list login">

          <div class="error col-50 col-offset-25 error">
            <h2>
              {{error}}
            </h2>
          </div>

          <label class="item-input item-floating-label">
            <input type="email" ng-model="user.email" placeholder="Email">
          </label>


          <label class="item-input item-floating-label">
            <input type="password" ng-model="user.password" placeholder="Mot de passe">
          </label>

          <div class="login-social">
            <img src="img/facebook-logo.png"  height="40" alt="" ng-click="fbLogin()">

            <img src="img/twitter-logo.png" height="40" alt="" ng-click="twLogin()">
          </div>

          <div class="bouton-connecter">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="register(user)">
              S'inscrire
            </button>
          </div>

          <div class="login-dejacompte">
            <p>Déjà un compte ? <a ng-click="loginCancel()">Connexion</a></p>
          </div>

        </div>

  </ion-content>
</ion-modal-view>
