<ion-view view-title="Videos">
  <ion-content>

      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title" style="background: rgb(255, 193, 7);">
              <div class="icon-back" ng-click="back()" ng-hide="!hidebtn" ng-hide="hidebtn">
                  <button class="mdl-button mdl-js-button mdl-button--icon">
                      <i class="material-icons">arrow_back</i>
                  </button>
              </div>
              <div class="titre-video">
                  <h4 class="text-left">{{ type || "Catégories" }}</h4>
              </div>
              <img class="img-exo" src="img/presentation.png" height="90" alt="">
          </div>
      </div>


    <div class="mainvideo">
      <div class="list card" ng-repeat="video in videos" ng-hide="!hidebtn">

        <div class="item item-image">
          <div class="embed-responsive embed-responsive-16by9"><youtube-video class="embed-responsive-item" video-id="video.id.videoId" player-vars="playerVars"></youtube-video></div>
        </div>
        <div class="item item-text-wrap">
          <h3>{{video.snippet.title}}</h3>
          <p>{{video.snippet.publishedAt | limitTo: 10}}</p>
          <div class="item item-text-wrap">
            <h4>{{video.snippet.channelTitle}}</h4>
          </div>
        </div>
      </div>


      <ul class="liste_video mdl-list">
        <li class="mdl-list__item" id="videobtn_muscu" ng-hide="hidebtn" ng-show="hidebtn" ng-click="research('musculation, workout, exercice, programme'); categorie('Musculation')">
                <span class="mdl-list__item-primary-content">
                  Musculation
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <i class="material-icons">play_arrow</i>
                  </label>
                </span>
        </li>
        <li class="mdl-list__item" id="videobtn_fitness" ng-hide="hidebtn" ng-click="research('fitness, exercice, programme, gym'); categorie('Fitness')">
                <span class="mdl-list__item-primary-content">
                 Fitness
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <i class="material-icons">play_arrow</i>
                  </label>
                </span>
        </li>
        <li class="mdl-list__item" id="videobtn_running" ng-hide="hidebtn" ng-click="research('running, course, exercice, endurance, sprint'); categorie('Running')">
                <span class="mdl-list__item-primary-content">
                  Running
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <i class="material-icons">play_arrow</i>
                  </label>
                </span>
        </li>
        <li class="mdl-list__item" id="videobtn_bienetre" ng-hide="hidebtn" ng-click="research('bien-être, sport, exercice, perdre du poids'); categorie('Bien-etre')">
                <span class="mdl-list__item-primary-content">
                  Bien-être
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <i class="material-icons">play_arrow</i>
                  </label>
                </span>
        </li>
        <li class="mdl-list__item" id="videobtn_nutrition" ng-hide="hidebtn" ng-click="research('nutrition, diète, sèche'); categorie('Nutrition')">
                <span class="mdl-list__item-primary-content">
                  Nutrition
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <i class="material-icons">play_arrow</i>
                  </label>
                </span>
        </li>
        <li class="mdl-list__item" id="videobtn_sport" ng-hide="hidebtn" ng-click="research('streching, étirements, yoga, mal de dos'); categorie('Streching')"">
                <span class="mdl-list__item-primary-content">
                  Streching
                </span>
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                    <i class="material-icons">play_arrow</i>
                  </label>
                </span>
        </li>
      </ul>



    </div>
  </ion-content>
</ion-view>